<div style="width: 320px">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#/">«&nbsp;Back</a>
    </div>
  </div>
  <h3>I bet you got the next insider tip for this city!</h3>
  <span stlye='font-size: 2em' class='badge'>1</span>
  <br/>
  <button class='btn btn-primary' ng-click='takePhoto()'>Take a photo</button>
  <br/>
  <span stlye='font-size: 2em' class='badge'>2</span>
  <br/>
  <form ng-submit="addMessage()" ng-show='located'>
    <textarea ng-model="message" placeholder="140 characters to describe" required ngMaxlength='140'></textarea>
    <input class="btn-primary" type="submit" value="add">
  </form>
  <canvas id="scaleCanvas" width="100" height="100" style='display: none'></canvas>
  <!--<img id="image" ng-src="{{imageSrc}}" />-->

</div>
