<div style='width: 320px; position: relative'>
  <div class='well well-small' style='margin-bottom: 1px'>
    <div class='clearfix' style='height: 40px;'>
      <h3 style='float: left; margin-top: 0'>Livingtown</h3>
      <a class='btn btn-primary' style='float: right' href='add'>Add Yours!</a>
    </div>
  </div>
  <div ng-show='located' style='position: relative'>
    <div style='position: absolute; right: 10px; top: 10px; z-index: 10000'>
      <a href class='btn btn-inverse' ng-click='reLocate()'><i class='icon-screenshot icon-white'></i></a>
    </div>
    <leaflet defaults="defaults" center="center" height="240px"  markers="markers"></leaflet>
  </div>
  <br/>
  <ul class='unstyled' style='height: 240px; overflow: scroll' id='messageStream'>
    <li ng-repeat='marker in messages' class='well' data-lat='{{marker.lat}}' data-lng='{{marker.lng}}' id='marker-{{$index + 1}}' ng-click='centerLocation(marker)'>
      <span class="badge">{{$index + 1}}</span>&nbsp;{{marker.message}}
    </li>
  </ul>
</div>
