<div class='row' style='height: {{height*2}}px'>
  <div class='col-sm-6' ng-show='located'>
    <div style='margin-bottom: 1px'>
      <div class='row'>
        <h4 class='col-7'><img src='images/logo.jpg' height="30px" alt='logo'>Living<b>town</b></h4>
        <a class='btn btn-primary col-4' href='#/add' style='margin-top: 10px;'><span class='glyphicon glyphicon-map-marker'>&nbsp;Add!</span></a>
      </div>
    </div>

    <div style='position: relative'>
      <div style='position: absolute; right: 10px; top: 10px; z-index: 10000'>
        <button class='btn btn-default' ng-click='reLocate()'><span class='glyphicon glyphicon-screenshot'></span></button>
      </div>

      <div id='spinner' ng-show='showSpinner' style='position: absolute; right: 40%; top: 40%; z-index: 10001'>
        <img src='images/spinner.gif' alt='loading' />
      </div>

      <leaflet defaults="defaults" center="center" height="240px"  markers="markers"></leaflet>
    </div>

  </div>
  <div class='col-sm-6' style='overflow: scroll; height: {{height}}px' id='messageStream'>
    <ul class='list-unstyled'>
      <li ng-repeat='marker in messages' class='row panel' data-lat='{{marker.lat}}' data-lng='{{marker.lng}}' id='marker-{{$index + 1}}' ng-click='centerLocation(marker)'>

        <div class='col-3 col-sm-3'>
          <div style='position: relative'>
            <span class='label label-info' style='position: absolute; top: -7px; left: -3px;'>{{$index + 1}}</span>
            <img class='img-thumbnail' style='width: 50px; height: 50px;' ng-src='{{marker.image}}'>
          </div>
        </div>

        <div class='col-9 col-sm-9'>
          <div style='font-size: 0.7em'><em>{{getTimeIdentifier(marker)}}</em></div>
          <span>{{marker.message}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
